.body{
	background-image:url(https://www.w3schools.com/css/img_lights.jpg);
	height:100vh;
	background-size:cover;
}
.form-group{
	display:grid;
	grid-template-rows:1fr 3fr;
	color:white;
}.form{
		text-align:left;
		padding-left: 30%;
		padding-right: 30%;
}
.principal{
	padding:5%;	
	text-align:center;
	color:white;

}
label{
	color:white;
}
.form-control{
	border-radius: 15px 15px;
	background-color:none;
}
button{
	border-radius: 15px 15px;
	background-color:teal;
}
input{
	background-color:teal;
	color: white;
	opacity:0.5;
	font-size:130%;
}