    <div class="all" *ngIf="!logedIn && !sign ">
      <div class="principal">
    <div>
        <div class="logo">
            <img src="/favicon.ico">
        </div>
        <div class="nom">
            WhatsAKB Web
        </div>
        <div class="form">
        <div class="form-group">
        <input
          class="form-control"
          id="pseudo"
          type=""
          required
          [(ngModel)]="user.pseudo"
          name="pseudo"
          placeholder="Login"
        />
    </div>
      <div class="form-group">
        <input
          class="form-control"
          id="mdp"
          type="password"
          required
          [(ngModel)]="user.mdp"
          name="mdp"
          placeholder="Mot de passe"
        />

      </div>
      <button (click)="comparaison()" class="btn btn-success">Submit</button>
      <div (click)="ssign()" class="btn sign btn-success" >Sign in</div>
     </div>
        <div class="mess">
            Envoyez et recevez desormais des messages securisés sans garder vos telephones en ligne.
        </div>
        <div class="mess">
            Utilisez WhatsAKB sur votre machine ou votre telephone sans crainte de piratage.
        </div>
    </div>
    </div>
                          <div class="chiffrer">
                            <i class="fa-solid fa-lock"></i> Chiffré de bout en bout
                          </div>
    </div>














    <div *ngIf="sign" class="sign_class">
      <div class="body">
      <div class="principal" *ngIf="!logedIn">
        <h1>WhatsAkb</h1>
     <div class="form">
      <div class="form-group">
        <input
          class="form-control"
          id="prenom"
          type=""
          required
          [(ngModel)]="userr.prenom"
          name="prenom"
           placeholder="Prenom"
        />
    </div>
    <div class="form-group">
        <input
          class="form-control"
          id="nom"
          type=""
          required
          [(ngModel)]="userr.nom"
          name="nom"
           placeholder="Nom"
        />
    </div>
      <div class="form-group">
        <input
          class="form-control"
          id="pseudo"
          type=""
          required
          [(ngModel)]="userr.pseudo"
          name="pseudo"
           placeholder="Pseudo"
        />
    </div>
    <div class="form-group">
        <input
          class="form-control"
          id="datenaiss"
          type=""
          required
          [(ngModel)]="userr.datenaiss"
          name="datenaiss"
           placeholder="Date de naissance"
        />
    </div>
    <div class="form-group">
        <input
          class="form-control"
          id="tel"
          type=""
          required
          [(ngModel)]="userr.tel"
          name="tel"
           placeholder="Numero de telephone"
        />
    </div>
    <div class="form-group">
        <input
          class="form-control"
          id="mail"
          type=""
          required
          [(ngModel)]="userr.mail"
          name="mail"
           placeholder="E-mail"
        />
    </div>
      <div class="form-group">
        <input
          class="form-control"
          id="mdp"
          type="password"
          required
          [(ngModel)]="userr.mdp"
          name="mdp"
           placeholder="Mot de passe"
        />

      </div>

     </div>
      <button (click)="saveUser()" class="btn save btn-success">Submit</button>
    </div>
    </div>


</div>





















    <div class="tab-body" *ngIf="logedIn && !sign">
    <div class="discs" *ngIf="discussion">
              <div class="nav">
                  <div class="profile"><img src="{{users[id_user-1].photo}}" ></div><div class="pro_nom">{{users[id_user-1].prenom}} {{users[id_user-1].nom}}</div>
                  <div class="nitems">
                    <div class="nitem" routerLink="/home"><i class="fa-solid fa-circle-notch"></i></div>
                    <div class="nitem"><i class="fa-solid fa-message" (click)="mycontact()" ></i></div>
                    <div class="nitem"><i class="fa-solid fa-ellipsis-vertical"  ></i></div>
                  </div>
              </div>

              <div class="recherche">
                <input type="" name="" placeholder="Rechercher ou demmarer une nouvelle discussion">
              </div>


              <ul class="items" >
                <div *ngFor="let pp of messages ; let i = index">
                  <div  *ngIf="pp.source==id_user || pp.dest==id_user">
                  <li class="item1 profile" *ngIf="pp.dest==id_user && pp.vu">
                  <img src="{{users[pp.source -1].photo}}" >
                    <div class="news" (click)="reloadCurrentRoute(pp.source)">
                      <div class="nom-date"><div class="nomm">{{users[pp.source -1].prenom}} {{users[pp.source-1].nom}}</div><div class="date date_d">{{pp.date|date:'HH:mm'}}</div></div>
                      <div class="messagee">
                        <div class="cont contenu">{{pp.contenu}}  </div>
                        <div class="span">1</div>
                      </div>
                  </div>
                </li>
                <li class="item1 profile" *ngIf="pp.source==id_user && pp.vu" >
                  <img src="{{users[pp.dest -1].photo}}" >
                    <div class="news" (click)="reloadCurrentRoute(pp.dest)">
                      <div class="nom-date"><div class="nomm">{{users[pp.dest-1].prenom}} {{users[pp.dest-1].nom}}</div><div class="date date_r">{{pp.date|date:'HH:mm'}} </div></div>
                      <div class="message">
                        <div name="checkmark"></div><div class="contenu">{{pp.contenu}} </div>
                        <div class=""></div>
                      </div>
                  </div>
                </li>
              </div>
            </div>
          </ul>

    </div>
    <div class="discs" *ngIf="contact">
              <div class="nav_contact">
                  <div class="pro_nom"><i class="fa-solid fa-arrow-left" (click)="mycontact_close()"></i></div>
                   <div class="pro_nom">Nouvelle discussion</div>
              </div>
              <div class="recherche">
                <input type="" name="" placeholder="Chercher des contact">
              </div>



              <ul class="items items_contact" >
                <div *ngFor="let user of users ; let i = index">
                  <li class="item1 profile" *ngIf="user.key!=id_user">
                  <img src="{{user.photo}}" >
                    <div class="news" (click)="reloadCurrentRoute(user.key)">
                      <div class="nom-date"><div class="nomm">{{user.prenom}} {{user.nom}}</div><div class="date date_d"></div></div>
                      <div class="messagee">
                        <div class="cont contenu contactt">{{user.pseudo}}  </div>
                        <!-- <div class="span">1</div> -->
                      </div>
                  </div>
                </li>
            </div>
          </ul>

    </div>
    <div class="discc">
      <router-outlet></router-outlet>
    </div>
    <!-- <div class=""> -->

    </div>
